[workspace]
members = [
	"auxtools",
	"auxtools-impl",
	"debug_server",
	"tests/auxtest",
	"tests/byond_get",
	"tests/test_runner",
]

[profile.release]
opt-level = 3
lto = 'thin'
codegen-units = 1
incremental = true
debug = true
